<h1 class="abouthead">About Us</h1>
<div class="cookieblerb">
	<div class="choc">
		<a href="#" data-img-link="images/choc.jpg" class="lightbox-image"><img src="images/choc.jpg" alt="" class="imgleft"></a>
		<p>These are EXCELLENT!!! Some of the best cookies I have ever had.  OMG, cookies of divine chocolaty-ness, to die for. Better than the local bakery's chocolate chocolate chip cookies. I'd give it more stars if I could. Happy eating! <strong> - Diana M.</strong></p>
		<p>Ooo-ooo-oooh! Marvelous little bites of chocolate heaven.<strong> - Kathy Sheets</strong></p>
		<p>Deep chocolate flavor, pleasantly (but not overly) sweet, soft texture but not too gooey, perfect height(not flat) and just downright irresistible!<strong> - Tiaake</strong></p>
	</div>
	<div class="chocchip">
		<a href="#" data-img-link="images/chocchip.jpg" class="lightbox-image"><img src="images/chocchip.jpg" alt="" class="imgright"></a>
		<p>vERRY eXXCELLENT cOOOKIE! <strong> - Chuck Sampson</strong></p>
		<p>This is the perfect chocolate chip cookie!! Crispy on the outside and chewy on the inside!<strong> - Angel</strong></p>
		<p>THESE COOKIES ARE LIFE-CHANGING. The best I've ever tasted in 25 years of baking. They have the right balance of flavor and texture.<strong> - Harriet</strong></p>
	</div>
	<div class="oatmeal">
		<a href="#" data-img-link="images/oatmeal.jpg" class="lightbox-image"><img src="images/oatmeal.jpg" alt="" class="imgleft"></a>
		<p>WOW!! These are the BEST oatmeal raisin cookies ever!! Soft, moist, chewy, the texture is perfect!<strong> - MizzNezz</strong></p>
		<p>These cookies are fantastic! Otis Spunkmeyer Bakery-style cookies that are so chewy. The only thing that you can do to make these cookies better is a glass of milk ; ) YUMMMMMMMMM Definitely not enough stars, these cookies deserve 10 stars.<strong> - CookieNut</strong></p>
	</div>
	<div class="peanut">
		<a href="#" data-img-link="images/peanut.jpg" class="lightbox-image"><img src="images/peanut.jpg" alt="" class="imgright"></a>
		<p>These cookies were for sure the best Peanut Butter cookies I ever had.<strong> - Jen</strong></p>
		<p>Ok, to start, the flavor of these cookies is phenomenal. Absolutely delicious.<strong> - IdLikeSomeCookiesPlease</strong></p>
		<p>nomnomnom me want cookie<strong> - TheCookieMonster</strong></p>
		<p>The perfect beanut butter cookie! YUMMM!!<strong> - Kathy</strong></p>
	</div>
	<div class="whitechocmac">
		<a href="#" data-img-link="images/whitechocmac.jpg" class="lightbox-image"><img src="images/whitechocmac.jpg" alt="" class="imgleft"></a>
		<p>The BEST. Better than any cookie I have had yet.<strong> - Peacelove420</strong></p>
		<p>So good! If you want to make a powerful impression, take these cookies to a party.<strong> - What A Dish!</strong></p>
		<p>My husband's most favorite cookie! This cookie was, according to him, the BEST white chocolate macadamia nut cookie he has ever put in his mouth.<strong> - MessyCook</strong></p>
	</div>
	<div class="snicker">
		<a href="#" data-img-link="images/snickerdoodles.jpg" class="lightbox-image"><img src="images/snickerdoodles.jpg" alt="" class="imgright"></a>
		<p>Best snickerdoodle ever!!!<strong> - SUGARPLUMSCOOKIE</strong></p>
		<p>I have been making Snickerdoodles for years with the recipe from my 8th grade home ec class.  What a mistake, these cookies are the best around.<strong> - Hollys Taylor Made Treats</strong></p>
		<p>Oh my gosh. I love Snickerdoodles and I'm sure that these are the best I have ever, ever, ever had! Beautiful color. Soft, light, buttery taste.<strong> - Barbara H.</strong><p>
	</div>
</div>

	<div class="lightbox-outer invis">
		<div class="lightbox-inner">
			<img src="">
		</div>
	</div>













