<p class="contact">Contact Us</p>
<p class="ad">Cookies for Coders:</p>
<p class="ad">Leave your contact information below</p>


<form method="POST" action="/contact"  class="contact1">
	<input type="text" name="c_first_name" placeholder="First Name">
	<input type="text" name="c_last_name" placeholder="Last Name">
	<input type="email" name="c_email" placeholder="Email Address">
	<div><textarea rows="2" cols="20" wrap="hard" name="c_comments" class="comments" placeholder="Let Us Know What You Think"></textarea></div>

		<div class="c_submitbutton">
		<input type="submit"> 
		</div>
<form>