<p class="contact">Contact Us</p>
<p class="ad">Cookies for Coders:</p>
<p class="ad">Leave your contact information below</p>


<form method="POST" action="/contact"  class="contact1">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="email" name="email" placeholder="Email Address">
	<div><input type="text" name="comments"  class="comments" placeholder="Let Us Know What You Think"></div>
		<div class="c_submitbutton">
		<input type="submit"> 
		</div>
<form>