<h1 class="hometitle">Welcome<h1>
<div class="home-image">
	<img class="truck" src="images/orangetruck.jpg" alt="">
</div>
<div class="home-text">
	<p class="home-content">
		Hello!  We are Cookies by Coders.  Founded in 2015 by two friends who decided that making cookies in a food truck was easier then becoming Web Devs.  
	</p>
	<br>
	<br>
	<p class="home-content">
		Over the past year, we've branched out and started delivering as well as taking online orders.  Now you can get cookies any time, anywhere.  Check out the order page to place your first order.  
	</p>
	<br>
	<br>
	<p class="home-content">
		Have nice things to say?  Cookie suggestions?  Or anything you'd just like to let us know?  Head over to our contact page and shoot us a message directly.  We are in the business of service, so let us know how we can better serve you.
	</p>
</div>