

<div class="order-container">


	<form method="POST" action="/sign-in"  class="order">  
		<div class="info">
			<input type="text" name="first_name" placeholder="First Name">
			<input type="text" name="last_name" placeholder="Last Name">
			<input type="text" name="phone" placeholder="Phone Number">
			<input type="text" name="address" placeholder="Address">
			<input type="text" name="city" placeholder="City">
			<input type="number" name="zip_code" placeholder="Zip Code">
			<input type="email" name="email" placeholder="Email Address">
		</div>
		<div class="cookies">
			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>

			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>
			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>
			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>
			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>
			<h3>Pick Your Cookies:</h3>
			<select name="cookies">
				<option value="Chocolate Chip">Chocolate</option>
				<option value="Double Chocolate Chip">Double Chocolate Chip</option>
				<option value="Snickerdoodle">Snickerdoodle</opton>
				<option value="Peanutbutter">Peanutbutter</opton>
				<option value="Oatmeal Raisin">Oatmeal Raisin</opton>
				<option value="Macadamia White Chocolate">Macadamia White Chocolate</opton>
			</select>
			<select name="amount">
				<option value="0">None</option>
				<option value="6">Six</option>
				<option value="12">Twelve</option>
				<option value="18">Eighteen</option>
				<option value="24">Twenty-Four</option>
			</select>
		</div>
			
		
		<div class="submitbutton">
			<input type="submit"> 
		</div>
	</form>
</div>