@font-face {
    font-family: seth;
    font-weight: normal;
    src: url(fonts/Sketch_Block.ttf);
}
body {
	background-color: #646462;

}

.navbar {
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
	width: 1000px;
}

.navbar a {
	font-family: 'courier', serif;
	text-decoration: none;
	color: white;
	font-size: 48px;
	padding: 5px;
	background-color: #E59A00;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
}

.navbar a:hover {
	background-color: #F67C2E;
}

.container {
	width: 900px;
	height: 100%;
	opacity: 1.0;
	margin: 0 auto;
	text-align: center; 
	display: block;
	background: grey;
	border-bottom: 25px solid #E59A00;
	position: relative;
}
.order-container {
	width: 85%;
	margin: 0 auto;
	min-height: 800px;
	text-align: center;
}

.info{
	text-align: left;
	font-size: 2vw;
	display: inline-block;
	padding: 20px;
	margin-top: 3vw;
	font-family: fantasy, sans-serif;
	/*margin: 0 auto;*/
	width: 300px;
	vertical-align: top;	
}

.cookies{
	width: 300px;
	display: inline-block;	
	/*vertical-align: top;*/
	margin-top: 8vw;
	font-family: fantasy;
	font-size: 3vw;	
	/*change 3vw to a px*/
	
}

.socialmedia {
	float: right;
	width: 78px;
	background-color: #E59A00;
	height: 329px;
	position: fixed;
	border-radius: 10px;
}

.socialmedia a {
	height: 50px;
	width: 50px;
}

.socialmedia img:hover {
	-webkit-filter: grayscale(0%);
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
}

.socialmedia img {
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
	-webkit-filter: grayscale(100%);
}

input{
	font-size: 20px;
	border:solid #E59A00 2px;
	/*display: block;*/
	font-family: fantasy;
	margin: 10px 0 10px 0;
}

.submitbutton {
	display: block;
}
option{
	border:solid #E59A00 2px;
}
select{
	border:solid #E59A00 2px;
}


.orderguide{
	font-size:20px;
	display: block;
}
.p1{
	font-size: 28px;
}


.cookieblerb div {
	height: 200px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: gray;
}

.cookieblerb div .imgleft {
	width: 200px;
	height: 100%;
	float: left;
}

.cookieblerb div .imgright {
	width: 200px;
	height: 100%;
	float: right;
}

.cookieblerb div p {
	color: white;
	font-family: courier;
}
.user{
	color: white;
}
.total{
	color: #e59A00;

}
.contact{
	font-family: seth;
	font-size: 8vw;
	margin: 0;
	padding-top: 30px;
}
.comments{
	width: 500px;
	height: 300px;
	text-align: center;
	font-size: 20px;
	border:solid #E59A00 2px;
	font-family: fantasy;

}

.ad{
	font-size: 3vw;
	font-family: courier;
	margin: 0;
}
.c_submitbutton {
	display: block;
	margin: 0;
}	

.lightbox-outer {
	background-color: rgba(13,13,13,0.6);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.lightbox-inner {
	margin: 0 auto;
	width: 720px;
	height: 100%;
}

.image {
	width: 100%;
	position: relative;
	top: 50%;
	/*Centers a picture by its height*/
	/*stolen from Jeff*/
	transform: translateY(-50%);
}

.invis {
	display: none;
}













