body {
	background-color: #646462;
}

.navbar {
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
	width: 1000px;
}

.navbar a {
	font-family: 'courier', serif;
	text-decoration: none;
	color: white;
	font-size: 48px;
	padding: 5px;
	background-color: #E59A00;
}

.navbar a:hover {
	background-color: black;
}

.container {
	width: 900px;
	position: absolute;
	left: 23.2%;
	height: 90%;
	opacity: 1.0;
	background-color: grey;
	border-bottom: 25px solid #E59A00;
}









